.VolumeViewControl {
    padding: 10px;
}

.VolumeViewControlTable {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.VolumeViewControlTable .MuiTableCell-root {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.VolumeViewControlTable .MuiIconButton-root {
    padding: 1px;
}

.VolumeViewControlTable .MuiTableCell-body {
    color: gray;
    font-size: 17px;
}

.VolumeViewControlTable .noselect {
    user-select: none;
}

.VolumeViewControlTable .MuiRadio-colorSecondary.Mui-checked {
    color: gray
}

.VolumeViewControlTable .MuiRadio-root {
    color: gray
}