.VolumeViewControl {
    background-color: rgb(12,12,12);
    padding: 10px;
}

.VolumeViewControlTable .MuiTableCell-root {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

.VolumeViewControlTable .MuiIconButton-root {
    padding: 1px;
}

.VolumeViewControlTable .MuiTableCell-body {
    color: gray;
    font-size: 17px;
}

.VolumeViewControlTable .noselect {
    user-select: none;
}